{% load static %}
{% load todo_tags %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static '/images/logo_small_icon_only.png' %}"/>
    <link rel="icon" type="image/png" href="{% static '/images/logo_small_icon_only.png' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bebas" type="text/css"/>

    <title>Editorial Bookiernes, S.A.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    {# Additional CSS or html head data inserted by templates here. #}
    {% block extrahead %}{% endblock extrahead %}

    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
      body {font-size: 16px;}
      .w3-xxxlarge {font-family: 'BebasNeueRegular'; font-size: 60px!important;}
      .w3-xlarge { font-family: 'BebasNeueRegular'; font-size: 30px!important;}
      .w3-jumbo > b { font-family: 'BebasNeueRegular'; font-size: 80px!important;}
      img {margin-bottom: -8px;}
      .mySlides {display: none;}
    </style>
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a id="image-logo" class="navbar-brand" href="/"><img src="{% static '/images/logo_small.png' %}" height="45px"/></a>
        <!--<a class="navbar-brand" href="/">BOOKIERNES</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if user|is_staff %}
              {% if user|can_see_not_accepted %} 
              <li id="peticiones" class="nav-item"><a href="{% url 'todo:lists' %}" class="nav-link">Peticiones de edición</a></li>
              {% endif %}
              {% if user|is_graphic_designer %} 
                {% if user|is_chief_designer %}
                <li id="peticiones" class="nav-item"><a href="{% url 'todo:task_lists' %}" class="nav-link">Peticiones de diseño</a></li>
                {% endif %}
                <li id="tareas-personales" class="nav-item"><a href="{% url 'todo:mine' %}" class="nav-link">Tareas personales</a></li>
              {% else %}
                <li id="peticiones-acc" class="nav-item"><a href="{% url 'todo:accepted_petitions' %}" class="nav-link">Libros en edición</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li style="display: flex;" class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>&nbsp&nbsp<a href="{% url 'todo:profile' %}"><img src="/static/images/avatar.png" style="height: 40px;" class="rounded-circle"></a></li>
            {% else %}
              <li style="padding: 10px" button class="w3-btn w3-round w3-medium"><a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a></button></li>
              <li style="padding: 10px" button class="btn btn-outline-secondary btn-md"><a href="{% url 'signup' %}" class="nav-link"><b>¿Quieres leer? Regístrate</b></a></button></li>&nbsp
              <li style="padding: 10px" button class="btn btn-outline-secondary btn-md"><a href="{% url 'todo:external_add' %}" class="nav-link"><b>¿Eres escritor? Envíanos tu obra</b></a></button></li>
            {% endif %}
          </ul>

          <!--
          {% if user.is_authenticated %}
      		  <form class="form-inline mt-2 mt-md-0" action="{% url 'todo:search' %}" method="get" placeholder="Search" aria-label="Search">
              <input type="text" name="q" value="" class="form-control mr-sm-2" id="q">
              <input type="submit" value="Buscar tareas" class="btn btn-outline-success my-2 my-sm-0">
            </form>
          {% endif %}
          -->

        </div>
      </nav>
      <br><br><br><br>
      
      {% if request.get_full_path == "/" or request.get_full_path == "/home" or "categories" in request.path or "search" in request.path %}
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white" style="margin-left: 3.5%; margin-top: 5.15%;" id="submenu">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-top: 3.5%;">
                {% if request.get_full_path == "/" %}
                  <a href="/" class="w3-bar-item w3-button w3-mobile w3-dark-grey">INICIO</a>
                {% else %}
                  <a href="/" class="w3-bar-item w3-button w3-mobile w3-light-grey">INICIO</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if request.get_full_path == "/home" %}
                  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-mobile w3-dark-grey" style="margin-left: 8%; margin-top: 7.5%;">¿QUÉ ES BOOKIERNES?</a>
                {% else %}
                <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-mobile w3-light-grey" style="margin-left: 8%; margin-top: 7.5%;">¿QUÉ ES BOOKIERNES?</a>
                {% endif %}
              </li>
              <div class="w3-dropdown-hover w3-mobile" style="margin-left: 7.5%; margin-top: 3.5%;">
                {% if "categories" in request.path %}
                  <button class="w3-button w3-dark-grey">CATEGORIAS <i class="fa fa-caret-down"></i></button>
                {% else %}
                <button class="w3-button w3-light-grey">CATEGORIAS <i class="fa fa-caret-down"></i></button>
                {% endif %}
                <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                  <a href="{% url 'todo:book_category' 'Todos' %}" class="w3-bar-item w3-button w3-mobile">TODOS LOS LIBROS</a>
                  {% for cat in None|get_book_categories %}
                    <a href="{% url 'todo:book_category' cat %}" class="w3-bar-item w3-button w3-mobile">{{cat}}</a>
                  {% endfor %}
                </div>
            </ul>
            <form method="get" action="{% url 'todo:search'  %}" class="d-flex" style="margin-left: 29%; margin-top: 1.5%;">
              <input class="form-control me-2" name="w" type="text" placeholder="Título o autor del libro..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar libro</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    {% endif %}


    <!-- Begin page content -->
    <main role="main" class="container" style="min-height: calc(100vh - 170px);">

      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <p>{{ form.non_field_errors }}</p>

      {% block content %}{% endblock %}
    </main>

    <footer>
      <div class="w3-container w3-white">
        <br>
        <span class="text-muted">
          <div class="row" style="max-width: 100%;">
            <div style="margin-left: 7%" class="col-md-2">
                <a id="logo-icon-small" href="/"><img src="{% static '/images/logo_small_icon_only.png' %}" height="40px"/></a>
                <h3 style="font-family: 'BebasNeueRegular'; color: black; margin-left: 10px;">BOOKIERNES S.A.</h3>
                <p style="margin-left: 10%; white-space: nowrap;font-size: 10px;">Copyright © 2021 BOOKIERNES S.A. Todos los derechos reservados</p>
            </div>
            <div class="col-md-2">
                <a href="/">Aviso Legal</a>
            </div>
            <div class="col-md-2">
                <a href="/">Política de privacidad</a>
            </div>
            <div class="col-md-2">
                <a href="/">Política de cookies</a>
            </div>
            <div class="col-md-2">
              <p style="text-align: left;">
                <b>CONTÁCTANOS</b><br>
                <i style="margin-top: 10px;" class="fa fa-envelope"> info@bookiernes.com</i>
                <i style="margin-top: 10px;" class="fa fa-phone"> (+34) 6XX XX XX XX</i>
              </p>
          </div>
        </div>
      </div>
    </footer> 

    
    <!-- jQuery and Bootstrap core JS, plus Popper -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>


