{% extends "base.html" %} {% block title %}django-todo{% endblock %}

{% block content %}

<!-- This code should be shown extending the submenu.html -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><body>

<a href="init" class="w3-bar-item w3-button w3-mobile">INICIO</a>
<a href="home" class="w3-bar-item w3-button w3-mobile w3-light-grey">¿QUÉ ES BOOKIERNES?</a>
<div class="w3-dropdown-hover w3-mobile">
<button class="w3-button">CATEGORIAS <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button w3-mobile">ROMANCE</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">AVENTURAS</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">TERROR</a>
    </div>
</div>
<a href="#" style="margin-left: 36%;">¿Nuevo por aquí? SUSCRÍBETE</a> 
<br><br>
<!-- -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Header -->
<header class="w3-display-container w3-center">
  <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/static/images/home.jpg" alt="Image 1" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xlarge">EDITORIAL BOOKIERNES S.A.</h1>
        <hr class="w3-opacity">
        <p>Edita, Publica y Lee tus libros favortitos</p>
      </div>
    </div>
  </div>
  <div class="w3-button w3-block w3-black w3-hide-large w3-hide-medium"></div>
    {% if user.is_authenticated %}
    {% else %}
    <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey" href="{% url 'login' %}">ACCEDE <i class="fa fa-angle-right"></i></a>
    {% endif %}
  </div>
</header>

<!-- Info Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>BOOKIERNES</b></h1>
      <h1 class="w3-xxxlarge w3-text-green"><b>¿Qué puedes hacer?</b></h1>
      <p style="text-align: justify;"><span class="w3-xlarge">Edita tus libros.</span> Cuenta con profesionales 
        a la hora de convertir tu manuscrito en un libro terminado y listo para venderse al público. Si quieres lo mejor para tu 
        libro, ponlo en manos expertas. Es una cuestión de respeto, hacia tu contenido y hacia tus lectores, 
        que el libro vea la luz con la mejor calidad. Los lectores de contenidos independientes son cada vez
        más exigentes y los libros con aspecto poco cuidado, por buenos que sean, tendrán menos posibilidades
        de triunfar. Por lo tanto, evita editar un libro sin asesoría profesional.</p>
      <p style="text-align: justify;"><span class="w3-xlarge">Publica tus libros.</span> ¿Te gustaría que tu libro electrónico pudiera llegar
        a millones de lectores de alrededor del planeta? Nuestro servicio de publicación de libros te ofrece 
        la posibilidad de publicar tu libro digital una vez editado y maquetado a nuestra página web, visible
        para cualquier lector de nuestra comunidad.</p>
      <p style="text-align: justify;"><span class="w3-xlarge">Lee libros digitales.</span> Bookiernes también proporciona una librería digital
        para todos los apasionados de la lectura.</p>
    </div>
    <div class="w3-col l4 m6">
      <br>
      <br>
      <br>
      <img src="/static/images/home_little3.jpg" class="w3-image w3-right w3-hide-small" width="315" height="451">
    </div>
    <div class="w3-col l4 m6">
      <br>
      <img src="/static/images/home_little2.jpg" class="w3-image w3-right w3-hide-small" width="335" height="471">
    </div>
  </div>
</div>

<!-- About us Section -->
<div class="w3-padding-64 w3-light-grey">
  <div class="w3-row-padding">
    <div class="w3-col l4 m6">
      <br>
      <br>
      <br>
      <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="/static/images/home_little1.jpg" alt="App" width="335" height="471">
    </div>
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>About us</b></h1>
      <h1 class="w3-xxxlarge w3-text-red"><b>¿Quiénes somos?</b></h1>
      <p style="text-align: justify;"><span class="w3-medium">En la empresa Bookiernes S.A. somos responsables de la editorial “Bookiernes”. Nuestra actividad 
        se centra en la edición y suministro de libros digitales. 
        A lo largo de nuestro camino hemos descubierto miles de editores, maquetadores y autores que lideran 
        sus proyectos editoriales. Personas que han apostado por Bookiernes a la hora de editar, ilustrar,
        maquetar y publicar un libro y que actualmente gestionan de nuestra mano los derechos editoriales 
        así como los beneficios de sus obras.</p>
    </div>
  </div>
</div>

<!-- Functionalities Section -->
<div class="w3-container w3-padding-64 w3-dark-grey w3-center">
  <h1 class="w3-jumbo"><b>Funcionalidades</b></h1>
  <p>Justamente lo que estabas buscando.</p>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fa fa-bolt w3-text-orange w3-jumbo"></i>
      <p>Presentación de libros rápida</p>
    </div>

    <div class="w3-col s3">
      <i class="fa fa-user w3-text-sand w3-jumbo"></i>
      <p>Asignación de un editor personal</p>
    </div>

    <div class="w3-col s3">
      <i class="fa fa-image w3-text-pink w3-jumbo"></i>
      <p>Ilustración y maquetación</p>
    </div>

    <div class="w3-col s3">
      <i class="fa fa-hdd-o w3-text-cyan w3-jumbo"></i>
      <p>Sin pérdidas de datos</p>
    </div>

    <div class="w3-col s3">
      <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
      <p>Publicación</p>
    </div>

    <div class="w3-col s3">
      <i class="fa fa-globe w3-text-amber w3-jumbo"></i>
      <p>Lectores de todo el mundo</p>
    </div>
    
  </div>
</div>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

{% endblock %}
