
  {% if list_slug != "mine" %}
    {% if view_completed %}
      <a href="{% url 'todo:list_detail' list_id list_slug %}" class="btn btn-warning">Ver tareas no completadas</a>

    {% else %}
      <a href="{% url 'todo:list_detail_completed' list_id list_slug %}" class="btn btn-warning">Ver tareas completadas</a>
    {% endif %}

  {% else %}
    {% if view_completed %}
      <a href="{% url 'todo:mine' %}" class="btn btn-warning">Ver tareas no completadas</a>
    {% else %}
      <a href="{% url 'todo:mine_completed' %}" class="btn btn-warning">Ver tareas completadas</a>
    {% endif %}
  {% endif %}
