{% extends "todo/base.html" %}

{% block title %}{{ list_title }} Todo Tasks List{% endblock %}

{% block content %}
  <h1 style="font-family: 'BebasNeueRegular'; margin-top: 40px;">Libros en edición</h1>

  <p id="task-count">{% if deleted == False %}Hay {{ task_count }} {% if task_count == 1 %} tarea pendiente {% else %} tareas pendientes {% endif %} en {{ list_count }} libro{{ list_count|pluralize }} {% endif %}</p>

  {% regroup lists by group as section_list %}
  {% for group in section_list %}
    <!-- <h3>Group: {{ group.grouper }}</h3> -->
    <ul class="list-group mb-4">
      {% for task in group.list %}
      <li id="{{ task.name }}" class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'todo:list_detail' task.id task.slug %}">{{ task.name }}</a>
        <span class="ml-auto badge badge-primary badge-pill">{{ task.task_set.count }}</span>
        
        {% if editor_view %}
          <form method="post" action="{% url "todo:accepted_petitions" %}" role="form" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="reasons" id="motivo" value=""/>
            <button type="submit" class="btn btn-danger btn-sm" name="delete-book" value='{{ task.name }}' onclick="rejectPetition(this.form)"><i class="fa fa-trash"></i></button>
          </form>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <script>
    function rejectPetition(formToPost) {
        formToPost.editor.selectedIndex = 0;
        hideOrShowBtn();
        var minlength = 1;
        var motivo;
        do{
          motivo = prompt("¿Está seguro/a que quiere rechazar la propuesta de edición? MOTIVO:");
        } while(motivo === null || motivo === "" || motivo.length < minlength) 
        formToPost.getElementById("motivo").value = motivo;
        formToPost.submit();
      }
    document.getElementById("peticiones-acc").style.borderBottom = "4px solid rgb(133, 5, 5)";
  </script>
{% endblock %}
