{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}File Ticket{% endblock %}

{% block content %}

  <h2>{{ task }}</h2>

  <form action="" method="POST">
    {% csrf_token %}

    <h3>File Trouble Ticket</h3>
    <p>
      Have a support issue? Use this form to report the difficulty - we'll get right back to you.
    </p>

    {% if form.errors %}
      {% for error in form.errors %}
        <ul class="errorlist">
          <li>
            <strong>The {{ error|escape }} field is required.</strong>
          </li>
        </ul>
      {% endfor %}
    {% endif %}

    <form action="" name="add_task" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_full_name" name="full_name">Full name</label>
          <input type="text" class="form-control" id="id_full_name" name="full_name" required placeholder="Full name here"
            value="{% if form.full_name.value %}{{ form.full_name.value }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="id_email" name="email">Email</label>
          <input type="email" class="form-control" id="id_email" name="email" required placeholder="something@gmail.com">
        </div>
        <div class="form-group">
          <label for="id_name" name="name">Title</label>
          <input type="text" class="form-control" id="id_name" name="name" required placeholder="Our spaceship doesn't go"
            value="{% if form_book.name.value %}{{ form_book.name.value }}{% endif %}">
        </div>
        <div class="form-group">
          <label for="id_note">Description</label>
          <textarea class="form-control" id="id_note" name="note" rows="5"
            aria-describedby="inputNoteHelp">{% if form_book.note.value %}{{ form_book.note.value }}{% endif %}</textarea>
          <small id="inputNoteHelp" class="form_book-text text-muted">
            Describe the issue. Please include essential details.
          </small>
        </div>
        
        <div class="form-task-type">
          <label for="thematic">Thematic</label>
          {{form_book.thematic}}
        </div>
    
        <input type="hidden" id="id_priority" name="priority" value="50">
        <p><input type="submit" class="btn btn-primary" name="add_task" value="Submit"></p>
    </form>

{% endblock %}
