{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Publicacion libro{% endblock %}

{% block content %}

  <h3 class="bar-text">FORMULARIO DE EDICIÓN</h3>
  <hr>

  {% if form.errors %}
    {% for error in form.errors %}
      <ul class="errorlist">
        <li>
          <strong>El campo {{ error|escape }} debe rellenarse obligatoriamente.</strong>
        </li>
      </ul>
    {% endfor %}
  {% endif %}

  <form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="mt-3">
      <div class="form-group">
        <label for="id_title" name="title">TÍTULO DEL LIBRO</label>
        <input required type="text" class="form-control" id="id_title" name="title" placeholder="{{ book.title }}"
          value="{{ book.title }}">
      </div>
    </div>

    <div class="mt-3">
      <div class="form-group">
        <label for="id_author" name="author">AUTOR/ES</label>
        <input type="text" class="form-control" id="id_author" name="author" placeholder="{{ book.author_text }}"
          value="{{ book.author_text }}">
      </div>
    </div>

    <div class="form-group">
      <label for="id_note">SINOPSIS</label>
      <textarea class="form-control" id="id_note" name="description" rows="7"
        aria-describedby="inputNoteHelp">{% if book.book.description %}{{ book.book.description }}{% endif %}</textarea>
      <small id="inputNoteHelp" class="form-text text-muted">
        Esta sinopsis será la mostrada a los lectores. 
      </small>
    </div>

    <div class="mt-3">
      <div class="form-group">
        <label for="id_image" name="image">¿DESEA ADJUNTAR/MODIFICAR LA IMÁGEN?</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="attachment_image_input" name="attachment_image_input" accept="image/*"/>
          <label class="custom-file-label" for="attachment_image_input">Escoja una imágen...</label>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="form-group">
        <label for="id_file">ADJUNTE LA VERSIÓN FINAL EN FORMATO PDF</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="attachment_file_input" name="attachment_file_input" accept=".pdf"/>
          <label class="custom-file-label" for="attachment_file_input">Seleccione la versión final maquetada del libro...</label>
        </div>
      </div>
    </div>

    <br/>
    <input id="submitBtn" type="button" class="btn btn-primary pull-right" name="publish" onclick="submit(this.form)" value="CONFIRMAR CAMBIOS">
    <br/>
    <br/>
    <br/>
  </form>

{% endblock %}

{% block extra_js %}
  {# Support file attachment uploader #}
  <script>
    function submit(formToPost) {
      if (!formToPost.reportValidity()){
        return;
      }
      if(confirm("¿Confirma que todos los campos són correctos?")){
        formToPost.submit();
      }
    }
    $('#attachment_file_input').on('change',function(){
      // Get the file name and remove browser-added "fakepath."
      // Then replace the "Choose a file" label.
      var fileName = $(this).val().replace('C:\\fakepath\\', " ");
      $(this).next('.custom-file-label').html(fileName);
    })
    $('#attachment_image_input').on('change',function(){
      // Get the file name and remove browser-added "fakepath."
      // Then replace the "Choose a file" label.
      var fileName = $(this).val().replace('C:\\fakepath\\', " ");
      $(this).next('.custom-file-label').html(fileName);
    })
  </script>
{% endblock extra_js %}