{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Asignar libro{% endblock %}

{% block content %}

  <h2>{{ task }}</h2>
  <h3 class="bar-text">{{ book.name }}</h3>
  <hr>

  <p><b>Autor/a:</b> {% if book.author is null or blank %} No asignado/a {% else %} {{ book.author }} {% endif %} </p>
  <p><b>Temática:</b> {% if thematic is null or blank %} No asignada {% else %} {{ thematic }} {% endif %}</p>
  <p><b>Descripción:</b> {% if note is null or blank %} No asignada {% else %} {{ note }} {% endif %}</p>

  {% if book.file %}
  <a href="{{ book.file.url }}" download>
    <divclass="btn" style="width:100%"><i class="fa fa-download"></i>   Descargar archivo adjunto</div>
  </a>
  {% endif %}
  <br><br>

  <form action="" method="POST">
    {% csrf_token %}
    
    {% if form.errors %}
      {% for error in form.errors %}
        <ul class="errorlist">
          <li>
            <strong>The {{ error|escape }} field is required.</strong>
          </li>
        </ul>
      {% endfor %}
    {% endif %}
    
    {% if editor_view %}
    <form action="" name="book_assign" method="post">
        {% csrf_token %}
        <div class="form-task-type">
          <button onclick="rejectPetition(this.form)" class="cross-button transparent-button" style="padding-left: 0px;"><i class="cross fa fa-times-circle fa-3x" style="vertical-align: middle;"></i><b>&nbsp&nbsp RECHAZAR PROPUESTA</b></button><br><br><br><br>
          <div><i class="fa fa-chevron-circle-right fa-3x" style="color:lightskyblue; vertical-align: middle;"></i><b>&nbsp&nbsp ASIGNAR A: </b><div style="display: inline-block;"> {{assign_form}}</div></div><br>
        </div>
        <input type="hidden" name="reasons" id="motivo" value=""/>
        <input hidden id="submitBtn" type="submit" class="btn btn-primary" name="book_assign" value="Enviar">
    </form>
    {% endif %}

    <script>
      function rejectPetition(formToPost) {
        formToPost.editor.selectedIndex = 0;
        hideOrShowBtn();
        var minlength = 1;
        var motivo;
        do{
          motivo = prompt("¿Está seguro/a que quiere rechazar la propuesta de edición? MOTIVO:");
        } while(motivo === null || motivo === "" || motivo.length < minlength) 
        document.getElementById("motivo").value = motivo;
        formToPost.submit();
      }

      document.getElementById("id_editor").addEventListener('change', hideOrShowBtn);

      function hideOrShowBtn() { 
        if(document.getElementById("id_editor").value >= 1){
          document.getElementById("submitBtn").removeAttribute("hidden");
        }else{
          document.getElementById("submitBtn").setAttribute("hidden", true);
        }
      }
       
    </script>

{% endblock %}