{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Catálogo de libros{% endblock %}

{% block content %}
<section class="jumbotron" style="padding: 2rem 1rem;">
	<div class="container">
		<h1 style='font-weight: bold;'>Libros de Bookiernes</h1>
		<hr class="my-4">
		<h2 class="text-justify">Perderse en una novela es uno de los mejores placeres de la vida. ¿Estas preparado? </h1>
		<hr class="my-4">
		<h3 class="text-justify">Descubre los mejores libros editados, ilustrados y maquetados por nuestra editorial.</h2>
	</div>
</section>