{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<form method="POST">
    <h3 class="bar-text">Establece una nueva contraseña</h3>
    {% csrf_token %}

    <div class="form-group">
        <p>
            <label for="id_new_password1">Nueva contraseña:</label> <input class="form-control" type="password" name="new_password1"
            autocomplete="new-password" required="" id="id_new_password1">
        </p>
    </div>

    <div class="form-group">
        <p>
            <label for="id_new_password2">Confirme la nueva contraseña:</label> <input class="form-control" type="password" name="new_password2"
                autocomplete="new-password" required="" id="id_new_password2">
        </p>
    </div>
    <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
</form>

{% else %}

<p>El <i>link</i> para restablecer la contraseña no es válido, posiblemente porque ya haya sido utilizado. Por favor, solicite un nuevo reestablecimiento de contraseña.
</p>

{% endif %}
{% endblock %}