{% extends "base.html" %} 
{% block title %}Submenu bar navigation{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><body>

<a href="init" class="w3-bar-item w3-button w3-mobile w3-dark-grey">INICIO</a>
<a href="home" class="w3-bar-item w3-button w3-mobile w3-light-grey">¿QUÉ ES BOOKIERNES?</a>
<div class="w3-dropdown-hover w3-mobile">
<button class="w3-button">CATEGORIAS <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button w3-mobile">ROMANCE</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">AVENTURAS</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile">TERROR</a>
    </div>
</div>
<a href="#" style="margin-left: 36%;">¿Nuevo por aquí? SUSCRÍBETE</a>

{% endblock %}
