{% extends "todo/base.html" %}
{% load static %}
{% load todo_tags %}

{% block title %}Users detail{{ book.name }}{% endblock %}

{% block content %}
  
<div style="display:flex; justify-content: space-between; margin-top: 40px;">
    {% if list_slug == "editors" %}
        <h1 style="font-family: 'BebasNeueRegular';">Editores</h1>
    {% elif list_slug == "designers" %}
        <h1 style="font-family: 'BebasNeueRegular';">Diseñadores gráficos</h1>
    {% elif list_slug == "management" %}
        <h1 style="font-family: 'BebasNeueRegular';">Responsables IT</h1>
    {% else %}
        <h1 style="font-family: 'BebasNeueRegular';">Escritores</h1>
    {% endif %}
</div>

{% if active_users %}
    <table class="table" id="tasktable">
      <tr class="nodrop">
        <th>Nombre completo</th>
        <th>Email</th>
        <th></th>
      </tr>

      {% for user in active_users %}
        <tr>
          <td>
                {{ user }}
          </td>
          <td>
                {{ user.user }}
          </td>
          <td>
            <a href="{% url 'todo:users_edition' list_slug user.user.email %}">
              <button type="submit" class="btn btn-sm"><b>EDITAR</b></button>
            </a>
            <form method="post" action="{% url 'todo:deactivate_user' %}" role="form" class="d-inline">
              {% csrf_token %}
              <input type="hidden" name="reasons" value=""/>
              <input type="hidden" name="deactivate-user" value="{{ user.user.email }}"/>
              <button type="submit" class="btn btn-danger btn-sm"><b>DESACTIVAR</b></button>
              <!--- <button type="submit" class="btn btn-danger btn-sm" onclick="deactivateUser(this.formToPost)"><b>DESACTIVAR</b></button> --->
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
{% endif %}


<script>
  function deactivateUser(formToPost) {
    console.log("deactivateUser");
    formToPost.manager.selectedIndex = 0;
    hideOrShowBtn();
    var minlength = 1;
    var motivo;
    do{
      motivo = prompt("¿Está seguro/a que quiere desactivar este usuario? MOTIVO:");
    } while(motivo === null || motivo === "" || motivo.length < minlength) 
    formToPost.getElementById("motivo").value = motivo;
    formToPost.submit();
    console.log("submit");
  }
  document.getElementById("section").style.borderBottom = "4px solid rgb(133, 5, 5)";

    function hideOrShowBtn() { 

    if(document.getElementById("section").value >= 1){
      document.getElementById("submitBtn").removeAttribute("hidden");
    }else{
      document.getElementById("submitBtn").setAttribute("hidden", true);
    }
  }
</script>

{% endblock %}