{% extends "todo/base.html" %}
{% load static %}
{% load todo_tags %}

{% block title %}Users detail{{ book.name }}{% endblock %}

{% block content %}
  
<div style="display:flex; justify-content: space-between; margin-top: 40px;">
    {% if list_slug == "editors" %}
        <h1 style="font-family: 'BebasNeueRegular';">Editores</h1>
    {% elif list_slug == "designers" %}
        <h1 style="font-family: 'BebasNeueRegular';">Diseñadores gráficos</h1>
    {% elif list_slug == "management" %}
        <h1 style="font-family: 'BebasNeueRegular';">Responsables IT</h1>
    {% else %}
        <h1 style="font-family: 'BebasNeueRegular';">Escritores</h1>
    {% endif %}
    <div><a style="margin-top: 10px;" href="{% url 'todo:add_user' list_slug %}" class="btn btn-warning">Añadir usuario</a></div>
</div>

<table class="table" id="tasktable">
  <tr class="nodrop">
    <th>Nombre completo</th>
    <th>Email</th>
    <th></th>
  </tr>

  {% for user in users %} 
  <tr>
    <td>
          {{ user }}
    </td>
    <td>
          {{ user.user }}
    </td>
    <td>
    {% if user in active_users %} 
      <form method="post" action="{% url "todo:deactivate_user" %}" role="form" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="reasons" value=""/>
        <input type="hidden" name="deactivate-user" value="{{ user.user.email }}"/>
        <button type="submit" class="btn btn-danger btn-sm"><b>DESACTIVAR</b></button>
      </form>
    {% elif user in unactive_users %} 
      <form method="post" action="{% url "todo:activate_user" %}" role="form" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="reasons" value=""/>
        <input type="hidden" name="activate-user" value="{{ user.user.email }}"/>
        <button type="submit" class="btn btn-success btn-sm"><b>ACTIVAR</b></button>
      </form>
    {% endif %} 
    </td>
  </tr>
  {% endfor %} 
</table>

{% endblock %}