{% extends "todo/base.html" %}

{% block title %}{{ list_title }} Users management {% endblock %}

{% block content %}

<h1 style="font-family: 'BebasNeueRegular'; margin-top: 40px;">Gestión de usuarios</h1>
{% for section, list_slug in section_list.items %}
    <ul class="list-group mb-4">
      <li id="{{ section }}" class="list-group-item d-flex justify-content-between align-items-center">
        <a style="color:blue;" href="{% url 'todo:users_detail' list_slug %}">{{ section }}</a>
      </li>
    </ul>
{% endfor %}
  
<script>
  document.getElementById("management-users").style.borderBottom = "4px solid rgb(133, 5, 5)";
</script>

{% endblock %}