label {
	display: block;
	font-weight: bold;
}

.bar-text {
	font-family: 'BebasNeueRegular';
	color:black;
	margin-top: 40px;
}

.transparent-button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.cross-button:hover > .cross{ 
    color: red;
}